%div{style: 'height: 20px;'}
#article-content
	= image_tag "avatar.png", style: "float: right;"
	%h2 Biography
	%p
		I am Chris Serino.  I was born in Sanford, FL.  My family moved to Chicago, IL when I was 4.  I grew up in Bolingbrook, IL and stayed there until I moved back to Florida to attend the
		= link_to "University of Central Florida.", "http://www.ucf.edu"
	%p
		I learned to program when I was 11.  My father noticed that I was curious about the programs he would write (he was a hobbyist computer programmer) and so he taught me
		= link_to "QuickBASIC.", "http://www.petesqbsite.com/sections/introduction/intro.shtml"
		I loved it.
	%p
		From there, I went from crafting text-based wrestling simulators in QuickBASIC with my brother to more sophisticated programs like a Pong game and a Space Invaders game.  The text-based stuff was fun, but graphical games were what I really enjoyed making.
	%p
		I continued programming as a hobby throughout high school and into college, honing my skills along the way.  I worked at McDonalds and other retail jobs, but programming was what I wanted to do and I knew it.  I self-educated myself many languages, techniques, and constantly practiced.  As much as I loved creating graphical games, the matter of creating the graphics themselves caused many problems in my endeavors.  I draw fine, but the results take too much time and they're of mediocre quality.  If I was going to complete a game, it probably won't be by working alone.
	%p
		After making friends at these jobs, I decided to try to make something.  Myself and four friends got together and attempted to create our own video game for the
		= link_to "Xbox Live Arcade.", "http://www.xbox.com/en-US/developers/xbox360/xbla"
		It was a difficult experience.  I was overly ambitious with the design and since we were doing it in our free time progress came very slowly.  It became clear that the project was doomed and I resolved to move to Florida and attend college.
	%p
		I received my Associates Degree from
		= link_to "Seminole State College", "http://www.seminolestate.edu"
		before transferring to the University of Central Florida as a Computer Science major.
	%p
		My first programming job was attained through my brother who was working for
		= link_to "Garden Grocer", project_path("garden-grocer")
		as the developer for their website.  They were looking to expand the business and so they brought me in as a web developer.
	%p
		Web development was never a strong passion of mine, but as I worked in the field I discovered that it can be quite challenging and fun.  We use both the
		= link_to "CakePHP", "http://www.cakephp.org"
		and
		= link_to "Ruby on Rails", "http://www.rubyonrails.org"
		frameworks.  I enjoy keeping up on the latest trends in the web development field such as modern tech like
		= link_to "node.js,", "http://www.nodejs.org"
		= link_to "redis,", "http://www.redis.io"
		= link_to "MongoDB,", "http://www.mongodb.org"
		and others.  The bar is continually being raised on the web and keeping up means keeping current.
	%p
		Recently, the owner of Garden Grocer launched a new company called
		= link_to "RealtyPro Technologies", project_path("realtypro-technologies")
		which is focused on providing web-based services for realtors.  My brother is the Chief Technical Officer with the company and I am a Software Engineer there.