%div{style: 'height: 20px;'}
#article-content
	= image_tag "avatar.png", style: "float: right;"
	%h2 Contact Information
	%ul
		%li Email:
		= link_to "chris@serino.me", "mailto: chris@serino.me"
		%li Facebook:
		= link_to "http://www.facebook.com/themindoverall", "http://www.facebook.com/themindoverall"
		%li Twitter:
		= link_to "@themindoverall", "http://twitter.com/#!/themindoverall"
		%li Github:
		= link_to "https://github.com/themindoverall", "https://github.com/themindoverall"
	%p